* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

.wrapper {
    margin: 30px auto;
}

.formForUser {
    width: 350px;
    margin: 30px auto;
}

.wrapperForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstName,
.email,
.address,
.phone{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    padding-bottom: 20px;
}
.contactListAll,
thead,
.contactList {
    display: block;
    justify-content: center;
}

.submit {
    display: flex;
    justify-content: space-between;
}

.btn-delAll,
.btn-clear,
.btn-submit {
    width: 120px;
    height: 40px;
    display: block;
}

.btn-submit {
    border: 2px solid rgb(95, 72, 226); 
    box-shadow: 0 0 5px rgb(138, 144, 230);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(95, 72, 226);
}

.btn-clear {
    border: 2px solid rgb(233, 47, 47); 
    box-shadow: 0 0 5px rgb(235, 125, 143);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(233, 47, 47);
}

.btn-delAll {    
    width: 180px;
    border: 2px solid rgb(116, 17, 17); 
    box-shadow: 0 0 5px rgb(235, 125, 143);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(117, 14, 14);
    margin: 0 auto;
}

tr {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr 1fr;
    margin: 0 auto 10px auto;
    border-bottom: 2px solid rgb(89, 245, 211);
    box-shadow: 0 0 10px rgb(178, 252, 239);
    padding-bottom: 10px;
    padding-top: 10px;
}
.elemId {
    text-align: center;
}

thead>tr {
    border-bottom: 2px solid rgb(65, 113, 245);
    box-shadow: 0 0 10px rgb(112, 197, 247);
    padding-bottom: 10px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(147, 167, 173);
}

.pensil {
    display: block;
    width: 25px;
    height: 25px;
    background: url(images/pencil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}
.trash {
    display: block;
    width: 20px;
    height: 20px;
    background: url(images/trash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

table {
    margin-bottom: 30px;
}